body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search{
  width: 200%;
}

.txt-color {
  color: #273AC7;
}

.bg-color {
  background-color: #273AC7;
}


.btn-logo-search {
  top: 35%;
  left: 50%;
}

.btn-logo-search:focus, .btn-logo-search:active, .btn-logo-search:focus:active {
  box-shadow: none;
  outline: 0;
}

.profile {
  width: 32px;
  height: 32px;
}
.img-profile {
  width: 32px;
  height: 32px;
}

Nav {
  width: 100%
}


.form-input{
  width: 500px;
}

.form-input:focus{
  box-shadow: none;
}

.bttn {
  width: 100px;
  outline-color: #273AC7;
  color: #273AC7;
}

.bttn:hover {
  background-color: #273AC7;
  outline-color: #273AC7;
}

.bttn:focus {
  background-color: #273AC7;
  color: #ffffff;
  box-shadow: none;
}

.price {
  font-size: 14px;
  color: #273AC7;
}

.carousel .rec-item-wrapper {
  width: 456px;
  height: 180px;
}

.car-item {
  width: 456px;
  height: 180px;
  color: #ffffff;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-item {
  width: 206px;
  height: 220px;
  color: #ffffff;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 766px){
  body {
    font-size: 12px;
  }

  .search {
    width: 100%;
  }

  .form-input{
    width: 250px
  }

  .btn-logo-search {
    top: 30%;
    left: 85%;
    transform: translateX(-30%);
  }

  h5 {
    font-size: 12px
  }
}

